@charset 'UTF-8';

* {
    margin: auto;
    padding: 0px;
}

body {
    background-color: #4caef5;
    font-family: var(--fonte-padrao);
}

header {
    max-width: 1500px;
    background-color: #0072c6;
    text-align: center;
}

body > header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
}

main {
    background-position: center top;
    background-repeat: no-repeat;
    margin: auto;
    height: 844px;
    width: 1500px;
}

nav {
    max-width: 1500px;
    text-align: center;
    background-color: #0072c6;
    padding-bottom: 5px;
}

nav a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

footer {
    max-width: 1500px;
    background-color: #0072c6;
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0px;   
}

footer > p > a {
    text-decoration: none;
}

footer > p > a:visited {
    color: black;
}

footer > p > a:hover {
    color: white;
}