@charset 'UTF-8';

main {
    background-image: url('../imagens/Layout_001.png');
}

.separadores {
    position: relative;
    background-color: transparent;
    left: -374px;
    top: 16px;
}

 .titulo {
    color: transparent;
    font-size: .75em;
    padding-right: 11px;
}

.titulo:hover {
    color: transparent;
}

.centro {
    max-width: 400px;
    margin: 0 auto;
}

.interruptor {
    display: none;
}

.caixa {
    cursor: pointer;
    position: relative;
    z-index: 10px;
    border: 1px solid transparent;
}

#caixa_00 {
    top: -57px;
    left: -521px;
    width: 222px;
    height: 73px;
}

#caixa_01 {
    top: -132px;
    left: -258.5px;
    width: 298px;
    height: 73px;
}

#caixa_02 {
    top: -207px;
    left: 60px;
    width: 334px;
    height: 73px;
}

#caixa_03 {
    top: -282px;
    left: 271px;
    width: 81px;
    height: 73px;
}

#caixa_04 {
    top: -357px;
    left: 373px;
    width: 118px;
    height: 73px;
}

.caixa:hover {
    border: 1px solid red;
}

.conteudo {
    position: absolute;
    scale: 1.3;
    display: none;
}

#conteudo_00 {
    margin-top: 223px;
    margin-left: 57px;
}

#conteudo_01 {
    margin-top: 148px;
    margin-left: 10px;
}

#conteudo_02 {
    margin-top: 72px;
    margin-left: -9px;
}

#n1 {
    z-index: 10;
    top: -190px;
    left: -190px;
    width: 210px;
    text-align: justify;
    color: black;
    position: relative;
}

#balao01 {
    position: absolute;
    scale: 0.33;
    z-index: 9;
    top: -155px;
    left: -476px;
}

#notas {
    position: absolute;
    z-index: 11;
}

#n2 {
    z-index: 10;
    top: -69px;
    left: -297px;
    width: 230px;
    text-align: justify;
    color: black;
    position: relative;
}

#balao02 {
    position: absolute;
    scale: 0.31;
    z-index: 9;
    left: -435px;
    top: -159px;
}

#n3 {
    z-index: 10;
    top: 32px;
    left: -169px;
    width: 180px;
    text-align: justify;
    color: black;
    position: relative;    
}

#balao03 {
    position: absolute;
    scale: 0.32;
    z-index: 9;
    left: -734px;
    top: -194px;
    transform: scale(1, -1);
}

.interruptor:checked + .wrapper .caixa {
    border: 1px solid rgb(228, 33, 33);
}

.interruptor:checked + .wrapper .conteudo {
    display: block;
}
