@charset 'UTF-8';

main {
    background-image: url('../imagens/inicio_003.png');
    background-position: center top;
    background-repeat: no-repeat;
    margin: auto;
    height: 844px;
    width: 1500px;
}

.pisca {
    display: inline-block;
    position: relative;
    z-index: 10;
    animation: piscapisca 1s infinite;
    top: 502px;
    left: 800px;
}

@keyframes piscapisca {
    0% {color: red;}
    20% {color: red;}
    40% {color: white;}
    60% {color: white;}
    80% {color: red;}
    100% {color: red;}
}

.pisca {
    font-family: var(--fonte-padrao);
    font-size: 2em;
    color: red;
}

.link {
    display: inline-block;
    position: relative;
    z-index: 11;
    top: 499px;
    left: 805px;
}

.link > a {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-right: 65px;
}

article#ord_001 > div > p {
    font-size: 1.2em;
    margin-top: 256px;
    margin-left: 1000px;
    margin-right: 240px;
    padding: 20px;
    background-color: rgb(229, 229, 229);
    border: 2px solid red;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

article#ord_001 > p {
    font-size: 1.2em;
    margin-top: 15px;
    margin-left: 728px;
    margin-right: 515px;
    padding: 10px;
    background-color: rgb(229, 229, 229);
    border: 2px solid red;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}